<p>Share the link with your friends!</p>
<div data-controller="clipboard" class="copy-link">
  <input data-clipboard-target="source"
         class="font-extralight text-xs rounded"
         type="text" value="<%= party_url(@party) %>" readonly>
  <button data-clipboard-target="trigger" data-action="click->clipboard#copy"><i class="fa-regular fa-copy"></i></button>
</div>
