<%= simple_form_for [@party],  html: { class: "mb-5"}  do |f| %>
  <%= f.input :name ,label: "Group name", placeholder: 'Enter a group name ', input_html: { class: "text-white p-2"} %>
  <p class="p-3">choose between</p>
  <%= f.submit "IN PERSON",
            label: "Choose between",
            class: 'category-selector'
   %>
  <p class="p-3">OR</p>
  <%= f.submit :ONLINE,
  label: "Choose between",
            class: 'category-selector'
   %>
<% end %>
