<p>Share with</p>
<ul class="link-follow">
  <li>
    <%= link_to "https://www.instagram.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fresponse_type%3Dcode%26client_id%3D1514077335%26scope%3Dopenid%2Bprofile%2Bemail%2Btimeline.post%2Bmessage.write%2Bkeep%2Bkeep.update%26redirect_uri%3Dhttps%253A%252F%252Fec.line.me%252Fweb%252FloginCallback%253FreturnPath%253D%252Fmypage%252Feventpoint%2526serviceCode%253DEXTERNAL%26state%3Df5ea45f7-3cb5-4c44-b66e-c18285a5936a&loginChannelId=1514077335&loginState=geojo1ag8e8h2xJq5rbhym#/", class: "", method: :delete do %>
      <i class="fa-brands fa-line"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://web.whatsapp.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-whatsapp"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://slack.com/intl/ja-jp/get-started#/createnew", class: "", method: :delete do %>
      <i class="fa-brands fa-slack"></i>
    <% end %>
  </li>
</ul>
