<p>Share with</p>
<ul class="link-follow">
  <li>
    <%= link_to "https://www.instagram.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://line.me/R/share?text=Come pick a movie with NaniMiru👀! \n #{url}", class: "" do %>
      <i class="fa-brands fa-line"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://web.whatsapp.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-whatsapp"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://slack.com/intl/ja-jp/get-started#/landing", class: "", method: :delete do %>
      <i class="fa-brands fa-slack"></i>
    <% end %>
  </li>
</ul>
