<p>Share with</p>
<ul class="link-follow">
  <li>
    <%= link_to "#" do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <i class="fa-brands fa-line"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <i class="fa-brands fa-whatsapp"></i>
    <% end %>
  </li>
</ul>
