<p>Share with</p>
<ul class="link-follow">
  <li>
    <%= link_to "https://www.instagram.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://access.line.me/oauth2/v2.1/login?returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dopenid%2Bprofile%2Bfriends%2Bgroups%2Btimeline.post%2Bmessage.write%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fsocial-plugins.line.me%252Fwidget%252FloginCallback%253FreturnUrl%253Dhttps%25253A%25252F%25252Fsocial-plugins.line.me%25252Fwidget%25252Fclose%26state%3D9fec98665820574ebc349f47d089a6%26client_id%3D1446101138&loginChannelId=1446101138#/", class: "", method: :delete do %>
      <i class="fa-brands fa-line"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://web.whatsapp.com/", class: "", method: :delete do %>
      <i class="fa-brands fa-whatsapp"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://slack.com/intl/ja-jp/get-started#/landing", class: "", method: :delete do %>
      <i class="fa-brands fa-slack"></i>
    <% end %>
  </li>
</ul>
