<div class="container">
  <div class="main-homepage">
    <div class="header-top my-5">
      <hr>
      <div class="header-top-text">
        <h1>CREATE</h1>
        <div class="header-top-pink">
          <h1>A WATCH PARTY</h1>
        </div>
        <hr>
      </div>
    </div>
    <%= render 'parties/form', party: @party %>
  </div>
</div>
