<div class="container">
  <div class="main-homepage">
    <div class="header-top my-5">
      <div class="header-top-text">
        <h1>Create</h1>
        <div class="header-top-pink">
          <h1>a watch party</h1>
        </div>
      </div>
    </div>
    <%= render 'parties/form', party: @party %>
  </div>
</div>
