<div class="container mt-3 text-center">
  <div class="border-top border-bottom mt-3 mb-3">
    <h1 class="mt-3">CREATE</h1>
    <h1>A WATCH PARTY</h1>
  </div>
  <div class="">
    <%= render 'parties/form', party: @party %>
  </div>
  <h2>Share the link with your party</h2>
</div>
