<div class="main-homepage wrapper">
  <div class="header-top my-2">
    <div class="header-top-text">
      <h1 class="mt-2">Create</h1>
      <div class="header-top-pink">
        <h1>a watch party</h1>
      </div>
    </div>
  </div>
  <div class="">
    <%= render 'parties/form', party: @party %>
  </div>
</div>
