// Specific CSS for your home-page
body {
  background-color: #101428;
}

// .main-homepage-other{
//   position: relative;
//   text-align: center;
//   padding: 10px 24px;
//   justify-content: center;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   color: #FFFF;

//   form {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//   }

//   label, legend {
//     margin-bottom: 16px;
//   }
// }

.main-homepage{
  // margin-top: 250px;
  position: relative;
  text-align: center;
  padding: 10px 24px;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #FFFF;

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  label, legend {
    margin-bottom: 16px;
  }
}

.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
