.on-going-parties {


list-style: none;
}



.notification {
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  margin: 27px;
  border-radius: 30px;
  width: 372px;
  height: 100px;
}


