<div class="container">
  <% @movies.each do |movie| %>
    <p><%= movie.title %></p>
    <p><%= image_tag movie.poster_url %></p>
    <%= render 'swipes/form', swipe: @swipe, party: @party, movie: movie %>
  <% end %>
</div>


<div>
  <iframe width="auto" height="auto" src="https://www.youtube.com/embed/crhL1eOjf4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
