<div class="container text-center">
  <div class="border-top border-bottom mt-3 mb-3">
    <h1 class="swipe-h3 mt-3">SWIPE MOVIE YOU LIKE</h1>

  </div>
  <div>
    <% @movies.each do |movie| %>
      <div class="swipe-card mt-3">
        <div class="title-box">
          <h3><%= movie.title %></h3>
          <%= render 'swipes/form', swipe: @swipe, party: @party, movie: movie %>
        </div>
      </div>
    <% end %>
  </div>
