<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0">
  <div style="position: absolute; left: 5px;">
    <% if current_user.present? %>
      <div class="d-flex">
        <%= image_tag current_user.photo_url, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
        <% if @party %>
          <% @party.users.where.not(id: current_user).each do |user| %>
            <%= image_tag user.photo_url, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false, style: "margin-left: -16px" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag src="nanimiru-logo", class: "nanilogo" %>
      <% end %>
    </div>
  </div>
</div>
