<div class="main-top h-100">
  <div><span class="divider"></span>
    <h1>Match</h1>
    <span class="divider"></span>
  </div>
  <div class="d-flex p-4 " style="">
    <div class="align-self-end">
      <h2>Title</h2>
      <p>description</p>
    </div>
  </div>
</div>
