<div class="container-top h-100 mt-3">
  <div class="match-top">
    <div class="header-top">
      <div class="header-top-text">
        <h1 class="title-white">Your Match</h1>
        <div class="header-top-pink">
          <h1>For Today</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="h-auto">
  </div>
  <body>
    <div class="box">
      <div>
        <%=image_tag @movie.poster_url%>
      </div>
      <figure class="wp-caption">
        <div class="d-flex align-items-center">
          <figcaption class="text-white text-start pl-3 wp-caption-title"> <%=@movie.title %></figcaption>
          <figure class="wp-caption">
            <figcaption>
              <div class="Stars"><span class="star"><i class="fa-solid fa-star"></i></span>
                <h3 class=""><%= @movie.rating %>/10</h3>
                <figure class="wp-caption">
                  <figcaption class="wp-caption-description"><%= @movie.overview %></figcaption>
                </figure>
              </div>
            </body>
          </div>
