<div class="main-homepage">
  <div class="header-below">
    <div class="below-text mb-4">
      <h1 class="text-white">
        Find a <span class="below-text-pink">perfect </span>
        <div>
          <span class="below-text-pink" > movie </span> for today
        </div>
      </h1>
    </div>
    <%= link_to 'Find a movie', new_party_path, class: 'button text-center m-4' %>
  </div>
</div>
