<div class="main-homepage">
  <div class="header-below">
    <div class="below-text my-5">
      <div class="logo">
        <%= image_tag src="nanilogo.png", class: "nanilogo" %>
      </div>
      <%= link_to 'Start a party', new_party_path, class: 'button text-center m-4'  %>
      <h3 class="text-white mt-3">
        <span class="below-text-pink">Choosing </span>shouldn't
        <div>
          be a <span class="below-text-pink" >chore </span>. . .
        </div>
      </h3>
    </div>
  </div>
</div>
