.header-top{
  text-transform: uppercase;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  .header-top-pink{
    color: #F30AB2;
  }
}

.header-below{
color: white;
padding-top: 229px;
letter-spacing: 1px;

.below-text-pink{
    color: #F30AB2;
  }
}

.logo img{
  width: 220px;
  height: 80px;
}
