.header-top{
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  .header-top-pink{
    color: #F30AB2;
  }
}

.header-below{
color: white;
padding-top: 229px;

.below-text-pink{
    color: #F30AB2;
  }
}
