.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  flex: 0 0 30%;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  color: black !important;
  border-radius: 16px;
  padding: 20px 10px;
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
  background-color: black;
}


#snippet_category_ruby + label {
  color: #FD1015;
}

#snippet_category_ruby:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#snippet_category_javascript + label {
  color: #FFC65A;
}

#snippet_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#snippet_category_css + label {
  color: #62DDF5;
}

#snippet_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
