.tinder {
  width: 100vw;
  height: calc(100vh - 58px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
}

.tinder--card {
  display: inline-block;
  width: 80vw;
  // height: 70vh;
  background: #101428;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;

  & + .removed {
    display: none !important;
  }
  & + .buttons {
    z-index: 100;
    // position:absolute;
    // bottom: 120px;
  }
}

.move-details{
  color: black;
  position: relative;
  padding-top: 38px;

  p{
    font-size: 18px;
  }
}

.movie-details-rating{
  border: 3px solid #f30ab299;
  background: #111428;
  border-radius: 50%;
  position: absolute;
  padding: 12px;
  top: -30px;
  width: 60px;
  height: 60px;
  left: 20px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 0;

  }
}

.movie-details-duration{
  position: absolute;
  top: 4px;
  right: 0;

  p{
    font-size: 14px;
   opacity: 0.6;
  }
}


.tinder--card-details{
  color: white;
}



.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  font-size: 24px;
  pointer-events: none;
  margin-bottom: 0;
}

.tinder--card p {
  padding: 0 16px;
  pointer-events: none;
  margin-bottom: 0;
  text-align:start;
}

.tinder--card-overview{
  position: relative;

  // .gradient{
  //   position: absolute;
  //   z-index: 50;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   background: red;
  // }
}

.rating {
  display: flex;
  align-items: center;
  position: relative;

  .star{
    font-size: 24px;
    color: #F30AB2;
  }
}

.year-absolute{
  position: absolute;
  right: 0;
}

.tinder--like--remove{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}



.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}

.tinder--card-genre {
  text-align: center;

}

.each-genre {
  border-radius: 95rem;
  color: #dee2e6;
  border: 1px solid #dee2e6;
  text-align: center;
  display: inline-block;
  margin-bottom: 8px;

  p {
    font-size: 15px;
  }
}


.tinder--card-overview {
  border-top: 2px dotted white;
  padding-top: 22px;

}



.tinder--card-director {
  border-top: 2px dotted white;
  padding-top: 22px;

}


.tinder--card-cast {
  border-top: 2px dotted white;
  padding-top: 22px;
}


.summary {
  position: sticky;
  top: -60vh;

}


.tinder--cards.show-details {
  .movie-card-info {
    top: 0;
  }

  .movie-card-info .caret-up {
    transform: rotate(180deg);
  }
}

.movie-card-info {
  text-shadow: 0 5px 10px black;
  position: absolute;
  top: 88%;
  transition: top 500ms ease-out;
  user-select: none;
background: #0f1428db;
  overflow: scroll;
  z-index: 100;
  color: white;
  padding: 2em;

  .caret-up {
    display: flex;
    justify-content: center;
    margin-top: -0.7em;
    font-size: 3em;
  }
}
