

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding-top: 16px;
  background-color:  #101428;
  // height: 100vh;

  // .poster-img{
  //   height: 637px;
  //   width: 364px;
  //   border-radius: 20px;
  //   display: flex;
  //   position: relative;
  //   border: 2px solid white;
  //   background-size: cover;
  //   background-position: 50% 50%;
  //   padding: 10px;
  // }
}
